
  .file-input{
    width: 100%;
    height: 50px;
    border: 4px dashed rgb(211, 207, 207);
    cursor: pointer;
  }
  .file-input input{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 100;
    cursor: pointer;
  }

  a{
    font-size: 30px;
    color: black;
}
@media screen and (max-width: 601px) {
  a {
      font-size: 15px;
  }
}