<div class="main-title">
    <h1>Herramientas de azar</h1>
  </div>
  <br>
  <h2> Texto a convertir </h2>

  <div class="hub-container">
    <div class="hub-element" routerLink="/aleatorio/sorteo"><p>Sorteo 🏆</p></div>
    <div class="hub-element" routerLink="/aleatorio/numero"><p>Número al azar 🎲</p></div>
    <div class="hub-element" routerLink="/aleatorio/nombre/femenino"><p>Nombre femenino 👩</p></div>
    <div class="hub-element" routerLink="/aleatorio/nombre/masculino"><p>Nombre masculino 👨</p></div>
  </div>

  <br>
  <div class="center-content" style="flex-direction: column;">
    <h2> Si te gusta, por favor recomienda este sitio web :D</h2>
    <mat-icon svgIcon="heart" style="color: red;"></mat-icon>
    <br>
  </div>