<div class="main-title">
    <h1> Obtener un número al azar </h1>
  </div>
  <br>
  <h2> Parámetros </h2>
  <form [formGroup]="myForm">
    <mat-form-field appearance="fill" style="margin-right: 30px;">
        <mat-label>Desde...</mat-label>
        <input formControlName="fromValue" type="number" matInput>
        <mat-error> Este campo es obligatorio </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Hasta</mat-label>
        <input formControlName="toValue" type="number" matInput>
        <mat-error> Este campo es obligatorio </mat-error>
      </mat-form-field>
  </form>
  <div class="center-content">
    <button 
    [disabled]="myForm.invalid"
    mat-raised-button 
    class="button-med" 
    (click)="doAction()"
    > Generar </button>
  </div>

  <h2> Texto convertido </h2>
  <mat-form-field class="text-input-large big-result" appearance="fill">
    <mat-label>Resultado</mat-label>
    <textarea id="result" matInput rows="2" disabled="true">{{result}}</textarea>
  </mat-form-field>

  <div class="center-content">
    <button 
    [disabled]="result=== ''"
    mat-raised-button 
    (click)="confirmCopy()"
    class="button-med" 
    [cdkCopyToClipboard]="result"
    > Copiar resultado</button>
  </div>
  <br>
  <div class="center-content" style="flex-direction: column;">
    <h2> Si te gustó, por favor recomienda este sitio web :D</h2>
    <mat-icon svgIcon="heart" style="color: red;"></mat-icon>
    <br>
  </div>