<div class="main-title">
    <h1>Herramientas de texto</h1>
  </div>
  <br>
  <h2> Texto a convertir </h2>

  <div class="hub-container">
    <div class="hub-element" routerLink="/texto/mayusculas"><p>Texto a mayúsculas 🔠</p></div>
    <div class="hub-element" routerLink="/texto/minusculas"><p>Texto a minúsculas 🔡</p></div>
    <div class="hub-element" routerLink="/texto/invertido"><p>Invertir texto ↩️</p></div>
    <div class="hub-element" routerLink="/texto/censurar"><p>Censurar contenido 🔞</p></div>
  </div>

  <br>
  <div class="center-content" style="flex-direction: column;">
    <h2> Si te gusta, por favor recomienda este sitio web :D</h2>
    <mat-icon svgIcon="heart" style="color: red;"></mat-icon>
    <br>
  </div>