.hub-container {
    width: 100%;
    height: auto;
    background-color: var(--color-red-5);
    display: flex;
    padding: 1vw;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.hub-element {
    width: 20vw;
    height: 20vw;
    margin-bottom: 1vw;
    background-color: var(--color-red-3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hub-element:hover {
    background-color: var(--color-red-2);
}

.hub-element p{
    line-height: 1.2;
    text-shadow: var(--text-border-black);
    overflow: hidden; 
    color: white;
    font-size: 3vw;
    text-align: center;
    word-wrap: break-word;
}