<div class="main-title">
    <h1>Herramientas de listas</h1>
  </div>
  <br>
  <h2> Texto a convertir </h2>

  <div class="hub-container">
    <div class="hub-element" routerLink="/listas/ordenar/alfabeticamente"><p>Ordernar alfabéticamente 🔤</p></div>
    <div class="hub-element" routerLink="/listas/ordenar/alfabeticamente/invertido"><p>Ordernar alfabéticamente invertido (ZYX) 🔤</p></div>
    <div class="hub-element" routerLink="/listas/filtrar/repetidos"><p>Filtrar valores repetidos ❌</p></div>
    <div class="hub-element" routerLink="/listas/json"><p>Convertir en JSON 🗒️</p></div>
  </div>

  <br>
  <div class="center-content" style="flex-direction: column;">
    <h2> Si te gusta, por favor recomienda este sitio web :D</h2>
    <mat-icon svgIcon="heart" style="color: red;"></mat-icon>
    <br>
  </div>