<div class="main-title">
  <h1>Convertir lista en arreglo JSON</h1>
</div>
<br />
<h2>Texto a convertir</h2>
<p>
  Inserta un separador (Ejemplos: ' <b>,</b> ' , ' <b>*</b> ' , ' <b>;</b> ' , '
  <b>.</b> ' , ' <b>-</b> ')
</p>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Seperador</mat-label>
  <input [disabled]="disableSeparator" matInput placeholder="Inserte el separador" [(ngModel)]="separator"/>
</mat-form-field>
<form [formGroup]="myForm">
  <p><mat-checkbox (change)="withEnter($event.checked)" formControlName="enter" color="accent">Separado por saltos de línea</mat-checkbox></p>
</form>

<mat-form-field class="text-input-large" appearance="fill">
  <mat-label>Inserte el texto a convertir</mat-label>
  <textarea
    placeholder="Ej: Superman-Spiderman-Flash-Batman"
    id="inputVal"
    matInput
    rows="10"
    [(ngModel)]="value"
  ></textarea>
</mat-form-field>

<div class="center-content">
  <button
    [disabled]="value === ''"
    mat-raised-button
    class="button-med"
    (click)="doAction()"
  >
    Generar
  </button>
</div>

<h2>Texto convertido</h2>
<mat-form-field class="text-input-large" appearance="fill">
  <mat-label>Resultado</mat-label>
  <textarea id="result" matInput rows="10" disabled="true">
 {{ result }}</textarea
  >
</mat-form-field>

<div class="center-content">
  <button
    [disabled]="result === ''"
    mat-raised-button
    (click)="confirmCopy()"
    class="button-med"
    [cdkCopyToClipboard]="result"
  >
    Copiar resultado
  </button>
</div>
<br />
<div class="center-content" style="flex-direction: column">
  <h2>Si te gustó, por favor recomienda este sitio web :D</h2>
  <mat-icon svgIcon="heart" style="color: red"></mat-icon>
  <br />
</div>
