@import '../styles.css';

mat-drawer-container {
    height: 100%;
    min-height: 100vh;
}

mat-drawer {
    width: 260px;
    border: none;
}

.content-wrap {
    height: calc(100vh - 65px); /*Screen - toolbar*/
    overflow: auto;
}