<div class="center-content" style="height: 98vh;">
    <div class="login-container">
        <div class="center-horizontal">
            <h1>Bienvenido</h1>
        </div>
        <div class="center-horizontal">
            <p class="subtitle">Iniciar sesión</p>
        </div>

        <div class="center-horizontal">
            <input class="filter-input mat-elevation-z8" matInput placeholder="Correo..."/>
        </div>

        <div class="center-horizontal">
            <input class="filter-input mat-elevation-z8" matInput placeholder="Contraseña..."/>
        </div>

        <div class="center-horizontal">
            <button class="login-btn" mat-raised-button routerLink="/home">Iniciar sesión</button>
        </div>        
    </div>
</div>


