<br />
<div class="center-horizontal"><h1>Vehículos del cliente</h1></div>
<div class="center-horizontal"><p class="subtitle">Cliente: Lorem Ipsum</p></div>
<br />

<mat-divider></mat-divider>

<div class="car">
    <img src="/assets/images/modeloa.png" alt="automóvil">
    <div class="car-description">
        <p><b>Marca: </b>Lorem Ipsum</p>
        <p><b>Modelo: </b>Lorem Ipsum</p>
        <p><b>Descripción: </b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptates consequuntur tempore, voluptatem, recusandae aliquam quae sapiente tempora possimus, animi veniam reprehenderit perspiciatis incidunt iste officia debitis perferendis odio suscipit!</p>
        <p><b>Estado: </b>No asegurado</p>
    </div>
</div>
<mat-divider></mat-divider>

<div class="car">
    <img src="/assets/images/modelob.png" alt="automóvil">
    <div class="car-description">
        <p><b>Marca: </b>Lorem Ipsum</p>
        <p><b>Modelo: </b>Lorem Ipsum</p>
        <p><b>Descripción: </b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptates consequuntur tempore, voluptatem, recusandae aliquam quae sapiente tempora possimus, animi veniam reprehenderit perspiciatis incidunt iste officia debitis perferendis odio suscipit!/p>
        <p><b>Estado: </b>No asegurado</p>
    </div>
</div>
<mat-divider></mat-divider>
