<div class="main-title">
    <h1>Herramientas de matemáticas</h1>
  </div>
  <br>
  <h2> Texto a convertir </h2>

  <div class="hub-container">
    <div class="hub-element" routerLink="/matematicas/sumar"><p>Sumar lista de números ➕</p></div>
    <div class="hub-element" routerLink="/matematicas/valor/mayor"><p>Valor más alto ⬆️</p></div>
    <div class="hub-element" routerLink="/matematicas/valor/menor"><p>Valor más bajo ⬇️</p></div>
  </div>

  <br>
  <div class="center-content" style="flex-direction: column;">
    <h2> Si te gusta, por favor recomienda este sitio web :D</h2>
    <mat-icon svgIcon="heart" style="color: red;"></mat-icon>
    <br>
  </div>