a{
    font-size: 30px;
    color: black;
}

h1 {
    font-size: 40px;
  }

.login-btn {
    margin-top: 60px;
    width: 30%;
    height: 60px;
    font-size: 25px;
    background-color: var(--color-base-4);
    color: white;

}

.select-title {
    font-size: 30px;
    line-height: 30px;
    margin-left: 170px;
}

.select-lorem {
    background-color: white;
    width: 80%;
    height: 50px;
}