<br />
<div class="center-horizontal"><h1>Asignar seguros</h1></div>
<p class="select-title">Cliente</p>
<div class="center-horizontal">
  <mat-form-field appearance="fill" class="select-lorem">
    <mat-label>Selecciona un cliente</mat-label>
    <mat-select>
      <mat-option *ngFor="let lorem of lorems" [value]="lorem">
        {{ lorem.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<br><br>

<p class="select-title">Automóvil</p>
<div class="center-horizontal">
  <mat-form-field appearance="fill" class="select-lorem">
    <mat-label>Selecciona un automóvil</mat-label>
    <mat-select>
      <mat-option *ngFor="let lorem of lorems" [value]="lorem">
        {{ lorem.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<br><br>


<p class="select-title">Aseguradora</p>
<div class="center-horizontal">
  <mat-form-field appearance="fill" class="select-lorem">
    <mat-label>Selecciona una aseguradora</mat-label>
    <mat-select>
      <mat-option *ngFor="let lorem of lorems" [value]="lorem">
        {{ lorem.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<br><br>

<div class="center-horizontal">
  <button class="login-btn" mat-raised-button (click)="Asegurar()">
    Confirmar
  </button>
</div>
