/*GENERAL*/
html,
body {
    background-color: #f9db5c !important;
    min-height: calc(100vh - 70px);
}
body {
    margin: 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fad25b !important;
}

p {
    font-size: 18px;
}

h2 {
    font-size: 25px !important;
}

:root {
    --color-base-1: #f6f6f6;
    --color-base-2: #fbfde2;
    --color-base-3: #faffba;
    --color-base-4: #a2a37a;
    --text-border-red-1: 1px 1px 0 var(--color-red-1), -1px 1px 0 var(--color-red-1), 1px -1px 0 var(--color-red-1), -1px -1px 0 var(--color-red-1), 0px 1px 0 var(--color-red-1), 0px -1px 0 var(--color-red-1), -1px 0px 0 var(--color-red-1), 1px 0px 0 var(--color-red-1), 2px 2px 0 var(--color-red-1), -2px 2px 0 var(--color-red-1), 2px -2px 0 var(--color-red-1), -2px -2px 0 var(--color-red-1), 0px 2px 0 var(--color-red-1), 0px -2px 0 var(--color-red-1), -2px 0px 0 var(--color-red-1), 2px 0px 0 var(--color-red-1), 1px 2px 0 var(--color-red-1), -1px 2px 0 var(--color-red-1), 1px -2px 0 var(--color-red-1), -1px -2px 0 var(--color-red-1), 2px 1px 0 var(--color-red-1), -2px 1px 0 var(--color-red-1), 2px -1px 0 var(--color-red-1), -2px -1px 0 var(--color-red-1);
    --text-border-black: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
}

.primary-button {
    background-color: var(--color-red-5);
    color: white;
}

.page-navigator {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.text-input-large{
    width: 100%;
}

.button-med{
    width: 50%;
    background-color: var(--color-red-3);
    color: white;
}

/*Posición*/

.x-limit {
    width: 100%;
    overflow-x: auto;
}

.demostration-container {
    background-color: whitesmoke;
    padding: 10px;
    box-sizing: border-box;
}

.demo-content {
    padding: 10px;
    overflow-x: auto;
    box-sizing: border-box;
}
.center-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-horizontal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*ScrollBar*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-red-5);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-red-3);
}
